/*Start global*/
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Bungee', cursive;
    color: whitesmoke;
}

body{
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #000428, #004e92) no-repeat center fixed;
    background-size: cover;
}

a{
    text-decoration: none;
    color: whitesmoke;
}
p {
    font-size: 1.8em;
    font-weight: 300;
}

img{
    width: 100%;
}
/*End global*/

/*Start Reusable*/
.container {
    width: 90%;
    max-width: 120rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.section-heading{
    text-align: center;
    color: whitesmoke;
    margin-top: 10rem;
}
.section-heading h1{
    font-size: 3.5rem;
    color: whitesmoke;
    font-family: 'Bungee Shade', cursive;
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    margin-bottom: 1rem;
}
.section-heading h1::before,
.section-heading h1::after{
    content: '';
    position: absolute;
    bottom: -.5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: whitesmoke;
    opacity: 1;

}
.section-heading h1::before{
    width: 10rem;
    height: 3px;
    border-radius: .8rem;
}
.section-heading h1::after{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    bottom: -1rem;
}
.section-heading h6{
    font-size: 1.6rem;
    font-weight: 300;

}
/*End Reusable*/

/*Start Header*/
header {
    width: 100%;
    height: 100%;
}
.top-nav {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: -200vh;
    z-index: 50;
    background-color: #000428;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    transition: all 650ms cubic-bezier(1,0,0,1);
}
.nav-list {
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
li {
    margin: 0 2rem;
}
.nav-link{
    font-family: 'Bungee', cursive;
    font-size: 4rem;
    padding: .8rem;
}
.nav-link:hover,
.nav-link:focus{
    background: linear-gradient( to top, #f3900e, whitesmoke);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.top-nav.open{
    top: 0;
    border-radius: initial;
}
.quick-links-list {
    position: absolute;
    top: 5rem;
    left: 5rem;
    height: 4rem;
    font-size: 2rem;
    display: flex;
    list-style: none;
    color: whitesmoke;
}
.quick-links-list i{
    transition: color 650ms;
}
.quick-links-list a{
    font-size: 2rem;
}
#resume-quick-link {
    transition: color 650ms;
}
.menu-toggler {
    position: absolute;
    top: 5rem;
    right: 5rem;
    width: 5rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 100000;
    transition: transform 650ms ease-out;
}
.menu-toggler.open{
    transform: rotate(-45deg);
}
.bar{
    background: linear-gradient(to right, #f3900e, whitesmoke);
    width: 100%;
    height: 4px; 
    border-radius: .8rem;
}
.bar.half{
    width: 50%;
}
.bar.start{
    transform-origin: right;
    transition: transform 650ms cubic-bezier(.54, -0.81, .57, .57);
}
.open .bar.start {
    transform: rotate(-450deg) translateX(.8rem);
}
.bar.end{
    align-self: flex-end;
    transform-origin: left;
    transition: transform 650ms cubic-bezier(.54, -0.81, .57, .57);
}
.open .bar.end {
    transform: rotate(-450deg) translateX(-.8rem);
}
.landing-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    z-index: 1;
}
.landing-text h1{
    font-size: 20rem;
    font-family: 'Bungee Shade', cursive;
    line-height: 1em;
    padding-bottom: 5rem;
    user-select: none;
}
.landing-text h6{
    font-size: 2rem;
    font-weight: 200;
}
/*End Header*/

/*Start About*/
.about .container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-heading {
    font-family: 'Bungee Shade', cursive;
    font-size: 5rem;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.5em;
    margin-bottom: 5rem;
}
.profile-img{
    flex: 1;
    margin-right: 5rem;
}
.about-details {
    align-items: center;
    flex: 1;
    height: fit-content;
}
.about-details p{
    font-size: 1.5rem;
}
.social-media{
    margin-top: 3rem;
    height: 6rem;
}
.social-media i{
    font-size: 5rem;
    transition: color 650ms;
}
.fa-twitter:hover {
    color: #38a1f3;
}
.fa-instagram:hover {
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
}
.fa-linkedin:hover {
    color: #0e76a8;
}
.fa-envelope:hover {
    color: #f3900e;
}
/*End About*/

/*Start Skills*/
.my-skills{
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2.5rem;
    text-align: center;
}
.skill{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.skill h1{
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 2rem -2px 2rem 0;
}
.icon-container {
    width: 10rem;
    height: 10rem;
    border: 3px solid whitesmoke;
    background: gray;
    margin-bottom: 2rem;
    display: flex;
    transform: rotate(45deg);
}
.icon-container i{
    color: whitesmoke;
    font-size: 5rem;
    margin: auto;
    transform: rotate(-45deg);
}
.icon-container:hover {
    background: linear-gradient( -45deg, #f3900e, whitesmoke);
    width: 11rem;
    height: 11rem;
    animation: color;
    transition: ease-in 200ms;
}
/*End Skills*/

/*Start Contact*/
.contact{
    background-color: transparent;
}
form{
    width: 70%;
    margin: 0 auto;
}
form label{
    font-size: 1.5rem;
}
input,
select,
textarea{
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    padding: 1rem;
    margin-bottom: 5px;
    border: none;
    outline-color: grey;
}
input[type="submit"]{
    width: initial;
    background-color: grey;
    color:whitesmoke;
    padding: 1rem 2rem;
    border-radius: .4rem;
    cursor: pointer;
    transition: background-color 650ms;
}
input[type="submit"]:hover {
    background-color: whitesmoke;
    color: #000428;
}
/*End Contact*/

/*Start Footer*/
.copyright{
    width: 100%;
    text-align: center;
    background-color: #00315c;
    padding: 2rem 0;
    position: relative;
}
.up{
    position: absolute;
    width: 5rem;
    height: 5rem;
    background-color: whitesmoke;
    top: -2.5rem;
    right: 5rem;
    border-radius: 100%;
    display: flex;
    animation: pulse 2s infinite;
    cursor: pointer;
}

.up i{
    color: #000428;
    font-size: 2rem;
    margin: auto;
}
.copyright p{
    font-size: 1.3rem;
}
/*End Footer*/

/*Start Animations*/
@keyframes pulse {
    0%{
        box-shadow: 0 0 0 0 #f3900e;
    }
    70%{
        box-shadow: 0 0 0 2rem rgba(253, 87, 191, 0);
    }
    100%{
        box-shadow: 0 0 0 0 rgba(253, 87, 191, 0);
    }
}
@keyframes color{
    0%{
        background: grey;
    }
    100%{
         background: linear-gradient( -45deg, #f3900e, whitesmoke);
    }
}
/*End Animations*/

/* Media Queries */
@media screen and (max-width: 1024px) {
    .landing-text h1{
        font-size: 11rem;
    }
    .landing-text h6{
        font-size: 1.7rem;
    }
    .nav-list{
        flex-direction: column;
    }
    .quick-links-list li{
        margin: 1rem;
    }
    li{
        margin: .3rem 0;
    }
    .nav-link {
        font-size: 4.5rem;
    }
    .about-heading h1{
        font-size: 7rem;
    }
    .section-heading h1{
        font-size: 3rem;
    }
    .about-details .nav-list{
        flex-direction: initial;
    }
    .about-details p{
        font-size: 1rem;
    }
    .about-details li{
        margin: 1rem;
    }
    .icon-container{
      width: 7rem;
      height: 7rem;  
    }
    .icon-container i{
        font-size: 4rem;
    }
}
@media screen and (max-width: 768px) {
    .menu-toggler{
        top: 5rem;
        right: 5rem;
    }
    .landing-text {
        line-height: 1em;
        font-size: 8rem;
    }
    .landing-text h6{
        font-size: 1.4rem;
    }
    .nav-link {
        font-size: 3.5rem;
    }
    .about .container{
        flex-direction: column;
        margin-top: 20rem;
    }
    .profile-img {
        margin: 0 0 7rem 0;
    }
    .about-heading {
        line-height: 1em;
        margin-bottom: 5rem;
    }
    .skills .container {
        margin-top: 20rem;
    }
    .projects .container {
        margin-top: 50rem;
    }
}
@media screen and (max-width: 583px) {
    .skills .container {
        margin-bottom: 25em;
    }
    .about-heading {
        line-height: 1.5em;
    }
}
@media screen and (max-width: 430px) {
    .menu-toggler {
        width: 4rem;
        height: 3rem;
    }
    .quick-links-list a{
        font-size: 1.5rem;
    }
    .about-heading {
        line-height: 1.5em;
    }
    .skills .container {
        margin-bottom: 50em;
    }
}
@media screen and (max-width: 330px) {
    .quick-links-list {
        top: 2rem;
        left: 2rem;
    }
    .menu-toggler {
        top: 4rem;
        right: 1rem;
        width: 3rem;
        height: 2rem;
    }
    .about .container {
        margin-top: 30rem;
    }
    .skills .container {
        margin-bottom: 60em;
    }
}